<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="ContactsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Thierry\Contacts\Model\ResourceModel\Contact\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ContactsGirdFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="ContactsGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contacts_test_listing_data_source" xsi:type="string">Thierry\Contacts\Model\ResourceModel\Contact\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Thierry\Contacts\Model\ResourceModel\Contact\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">thierry_contacts</argument>
            <argument name="resourceModel" xsi:type="string">Thierry\Contacts\Model\ResourceModel\Contact</argument>
        </arguments>
    </virtualType>

    <preference for="Magento\Catalog\Model\Product" type="Thierry\Contacts\Model\Product" />
    <preference for="Magento\Catalog\Block\Product\View" type="Thierry\Contacts\Block\Product\View" />
    <preference for="Magento\Catalog\Helper\Data" type="Thierry\Contacts\Helper\Data" />
    <preference for="Magento\Checkout\Controller\Cart\Index" type="Thierry\Contacts\Controller\Cart\Index" />
    <preference for="Thierry\Contacts\Observer\TestObserver" type="Thierry\Contacts\Observer\SurchargeObserver" />


</config>